@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --paynes-gray: #40513B;
  --cool-white: #EDF1D6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --paynes-gray: #575C70ff;
  }
} */

body {
  color: var(--cool-white);
  background-color: var(--paynes-gray);
  overflow-x: hidden;
}

.dynamicMap {
  position: relative;
  transition: transform 0.3s ease; /* Agrega una transición suave para el escalado */
  transform-origin: top left; 
}

@media screen and (max-width: 1750px) {
  .dynamicMap {
    transform: scale(0.6);
  }
}

.countryName{
  opacity: 0;
  transition: all 0.3s ease;
  color: black;
  font-weight: 600;
}

.countryEffect {
  filter: invert(100%) sepia(95%) saturate(270%) hue-rotate(80deg) brightness(90%) contrast(96%);
}
.countryEffect:hover {
  transition: all 0.3s ease;
  filter: sepia(100%) saturate(300%) hue-rotate(320deg) brightness(75%) contrast(165%);
  transform: translateY(-12px);
}

.countryEffect:hover > .countryName {
 opacity: 1;
}

.animalCardEffect{
  opacity: 0.8;
  left: -100%;
  transition: all 0.4s ease;
}

.animalCardContainer:hover .animalCardEffect{
  left: 0%;
  width: 100%;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.bigAnimalCard{
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.smallAnimalCard1{
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
.smallAnimalCard2{
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
.smallAnimalCard3{
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}


@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
}

.lateralMenuExit{
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 1;
  }
}

.lateralMenuEntrance{
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}