@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --paynes-gray: #575C70ff;
  --cool-white: #FBFDFEff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --paynes-gray: #575C70ff;
  }
}

body {
  color: var(--cool-white);
  background-color: var(--paynes-gray);
}

.dynamicMap {
  position: relative;
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 100%; /* Inicialmente establece la altura en 0 para mantener el espacio en el DOM */
  transition: transform 0.3s ease; /* Agrega una transición suave para el escalado */
  transform-origin: top left; 
}

@media screen and (max-width: 1750px) {
  .dynamicMap {
    transform: scale(0.6);
  }
}
